In [6]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\')

In [7]:
df = pd.read_excel('Coalesce_Raw_Data.xlsx')
df['Col4'] = df['Col1'].combine_first(df['Col2']).combine_first(df['Col3']).fillna(method='ffill')

In [8]:
df.head()

   Col1  Col2   Col3   Col4
0  20.0   NaN    NaN   20.0
1   NaN  50.0    NaN   50.0
2   NaN   NaN  100.0  100.0
3  20.0  30.0    NaN   20.0
4   NaN   NaN    NaN   20.0